/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f89500;
    padding: 0px;
    font-size: 20px;
    color: #000;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.logo {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: left;
    border-radius: 10%;
    padding: 10px;
}
.nav {
    display: flex;
    gap: 5px;
    align-items: right;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
nav ul li {
    margin-right: 5px;
}

/* Main content styles */
main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

/* Footer styles */
.footer {
    display: block;
    justify-content: space-between;
    text-align: center;
    background-color: #f89500;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: #000;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}